In [1]:
import pandas as pd

In [58]:
date = []
station_name = []
entex  = []
tapcount = []

dlr = []
tube = []
og = []
el = []
nr = []

In [44]:
month_no = {'January' : '01', 'February' : '02', 'March' : '03', 'April' : '04', 'May' : '05', 'June' : '06',
           'July' : '07', 'August': '08', 'September' : '09', 'October' : '10', 'November' : '11', 'December' : '12'}

In [63]:
df = pd.read_csv('TAPS-daily-rail-station-entryexit-2023.csv')
df['TapCount'] = df.TapCount.apply(lambda x: int(x.replace(',','')))
df['Date'] = pd.to_datetime(df['TravelDate'], format = '%d/%m/%Y')
df['Month']=df['Date'].apply(lambda x: x.month_name())
df['Year']=df['Date'].apply(lambda x: x.year)
out = df.groupby(['Station', 'EntryExit', 'Year', 'Month', 'ServedBy']).sum(numeric_only = True).reset_index()

for i in range(len(out)):
    dat = ''
    if out.iloc[i,3] in ['April', 'June', 'September', 'November']:
        dat += '30/{}/'.format(month_no[out.iloc[i,3]])
    elif out.iloc[i,3] in ['January', 'March', 'May', 'July', 'August', 'October', 'December']:
        dat += '31/{}/'.format(month_no[out.iloc[i,3]])
    else:
        if out.iloc[i, 2] != 2020:
            dat += '28/{}/'.format(month_no[out.iloc[i,3]])
            
        else:
            dat += '29/{}/'.format(month_no[out.iloc[i,3]])
    dat += str(out.iloc[i,2])
    date.append(pd.to_datetime(dat, format ='%d/%m/%Y'))
    station_name.append(out.iloc[i,0])
    entex.append(out.iloc[i,1])
    tapcount.append(out.iloc[i,5])
    line = out.iloc[i,4]
    if 'DLR' in line:
        dlr.append(True)
    else:
        dlr.append(False)
    if 'Tube' in line:
        tube.append(True)
    else:
        tube.append(False)
    if 'Elizabeth line' in line:
        el.append(True)
    else:
        el.append(False)
    if 'National Rail' in line:
        nr.append(True)
    else:
        nr.append(False)
    if 'Overground' in line:
        og.append(True)
    else:
        og.append(False)

In [64]:
output = pd.DataFrame({'station_name' : station_name, 'date' : date, 'entry_exit' : entex, 'tapcount' : tapcount,
                      'DLR' : dlr, 'tube' : tube, 'NR' : nr, 'EL' : el, 'Overground' : og})

In [65]:
output.to_csv('tfl2.csv')