In [4]:
import pandas as pd
import random
import numpy as np

In [3]:
from faker import Faker

In [8]:
fake = Faker('en_GB')

In [18]:
fake.name()

'Miss Wendy Williams'

In [72]:
ids = []
titles = []
forename = []
surname = []
address_1 = []
address_2 = []
address_3 = []
county = []
postcode = []
telephone = []
age_band = []
package = []
monthly_sub = []
days_active = []
nps = []

start_id = random.randint(200, 500)

for i in range(random.randint(start_id, start_id + random.randint(500, 800))):
    name = fake.name()
    name_split = name.split(' ')
    if len(name_split) == 2:
        titles.append(np.nan)
        forename.append(name_split[0])
        surname.append(name_split[1])
    else:
        titles.append(name_split[0])
        forename.append(name_split[1])
        surname.append(name_split[2])
        
    add = fake.street_address().strip()
    add_split = add.split()
    if add_split[0] in ['Flat', 'Studio']:
        address_1.append(add_split[0] + ' ' + add_split[1])
        address_2.append(add_split[2] + ' ' + add_split[3][0].upper() + add_split[3][1:])
    else:
        address_1.append(add_split[0] + ' ' + add_split[1] + ' ' + add_split[2][0].upper() + add_split[2][1:])
        address_2.append(np.nan)

    
    address_3.append(fake.city())
    county.append(fake.county())
    postcode.append(fake.postcode())
    telephone.append(fake.phone_number())
    
    age = int(round(np.random.normal(loc = 45, scale = 10),0))
    age_band.append(age)
    pack = random.choices(population = ['basic', 'pro', 'enterprise'], weights = [0.5, 0.3, 0.2], k = 1)[0]
    package.append(pack)
    
    if pack == 'basic':
        sub = round(random.uniform(15, 20),2)
    elif pack == 'pro':
        sub = round(random.uniform(25, 35),2)
    else:
        sub = round(random.uniform(18, 40),2)
    monthly_sub.append(sub)
    days_act = np.random.normal(200, 40)
    days_active.append(int(round(days_act,0)))
    
    score = 0
    
    if pack == 'basic':
        score += random.randint(4,6)
    elif pack == 'pro':
        score += random.randint(8,12)
    else:
        score += random.randint(-2, 7)
        
    if days_act < 100:
        score += random.randint(-3,2)
    elif days_act < 150:
        score += random.randint(0,4)
    elif days_act < 200:
        score += random.randint(3,5)
    else:
        score += random.randint(8,12)
        
    if sub < 20:
        score += random.randint(8,12)
    elif sub < 30:
        random.randint(5,14)
    else:
        random.randint(2,20)
        
    if score < 10:
        nps.append(random.randint(1,6))
    elif score < 20:
        nps.append(random.randint(7,8))
    else:
        nps.append(random.randint(9,10))
    ids.append(start_id)
    start_id +=1

In [73]:
df = pd.DataFrame({'customer_id' : ids, 'customer_title' : titles, 'forename' : forename, 'surname' : surname,
                   'address_1' : address_1, 'address_2' : address_2, 'address_3' : address_3, 'county' : county, 'postcode' : postcode,
                   'telephone' : telephone, 'age' : age_band, 'package_bought' : package, 'monthly_subscription' : monthly_sub,
                   'days_active' : days_active, 'recent_nps' : nps})

In [77]:
df

,customer_id,customer_title,forename,surname,address_1,address_2,address_3,county,postcode,telephone,age,package_bought,monthly_subscription,days_active,recent_nps
0,376,NaN,Brenda,Field,Studio 57B,Rose Trafficway,Humphreyshaven,Renfrewshire,HD9 2NB,+441154960107,48,enterprise,32.90,246,7
1,377,NaN,Alison,Hughes-Williams,738 James Plains,NaN,North Russellfort,West Yorkshire,S9W 5WY,+4429 2018 0118,43,pro,26.46,153,7
2,378,Dr,David,Mason,Flat 33,Maria Curve,Frostton,Caernarvonshire,HD46 3PR,+44808 157 0161,50,basic,17.59,171,9
3,379,NaN,Guy,Harris,Studio 93,Cook Row,Edwardbury,Norfolk,PL6Y 3LJ,+441414960921,61,basic,19.16,172,8
4,380,NaN,Amber,Brooks-Williams,Flat 03t,Maria Camp,South Tony,Aberdeen City,S27 0BP,+44808 1570976,29,basic,18.43,131,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,803,Dr,Abdul,Williams,1 Douglas Groves,NaN,Stewartport,Anglesey,N1J 6EZ,01214960361,47,basic,19.94,215,10
428,804,Miss,Jayne,Martin,3 Jane Greens,NaN,Harrisonmouth,Cardiganshire,G18 5FD,028 9018 0091,48,enterprise,39.60,142,5
429,805,NaN,Natasha,Wood,Flat 5,Harper Prairie,Mortonborough,West Berkshire,IV1 6DL,02074960469,37,enterprise,37.58,207,4
430,806,NaN,Terry,Davies-Williams,76 Patel Ramp,NaN,West Neilchester,Merseyside,B89 8YR,0151 496 0409,55,enterprise,33.22,197,7
431,807,NaN,Philip,Craig,Flat 13H,Jane Forest,Philipport,Hertfordshire,IV97 0HB,09098790277,39,basic,16.05,202,9

In [ ]:
df.tp_csv('tech_sales_custome')