In [1]:
import pandas as pd

In [37]:
import random
import numpy as np

In [104]:
df = pd.read_csv('household_power_consumption.csv')
df.columns

Index(['index', 'Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [143]:
df = pd.read_csv('household_power_consumption.csv')
df = df[['Date', 'Time', 'Global_active_power', 'Sub_metering_1', 
       'Sub_metering_2','Sub_metering_3']]
df.columns = ['date', 'time', 'household_usage', 'kitchen', 'other_appliances', 'heating']
dats = []

for i in range(len(df)):
    output = ''
    stamp = df.iloc[i, 0].split('/')
    if len(stamp[0]) == 2:
        output += stamp[0]
    else:
        output += '0' + stamp[0]
    output += '/'
    if len(stamp[1]) == 2:
        output += stamp[1]
    else:
        output += '0' + stamp[1]
    output += '/2023'
    dats.append(output)
df['date'] = dats
df['timestamp'] = pd.to_datetime(df.date + ' ' + df.time, format = '%d/%m/%Y %H:%M:%S')
df['household_usage'] = df.household_usage.replace('?', np.nan).ffill().astype('float')/60
df['kitchen'] = df.kitchen.replace('?', np.nan).ffill().astype('float')/60
df['other_appliances'] = df.other_appliances.replace('?', np.nan).ffill().astype('float')/60
df['heating'] = df.heating.replace('?', np.nan).ffill().astype('float')/60
df.head(4)

,date,time,household_usage,kitchen,other_appliances,heating,timestamp
0,01/01/2023,0:00:00,0.043000,0.0,0.0,0.0,2023-01-01 00:00:00
1,01/01/2023,0:01:00,0.042533,0.0,0.0,0.0,2023-01-01 00:01:00
2,01/01/2023,0:02:00,0.042500,0.0,0.0,0.0,2023-01-01 00:02:00
3,01/01/2023,0:03:00,0.042500,0.0,0.0,0.0,2023-01-01 00:03:00

In [147]:
output = df[['timestamp', 'household_usage', 'kitchen', 'heating', 'other_appliances']]

In [148]:
output = output.set_index('timestamp').resample('H').sum().reset_index()

In [150]:
output.to_csv('household_energy_usage.csv', index = False)

In [125]:
output.iloc[0, 1]/60

2.5506333333333333

In [151]:
df2 = pd.read_csv('be_day-ahead_prices.csv')

In [156]:
df2['MTU']=pd.to_datetime(df2.MTU)

In [157]:
df2 df2[df2.MTU.dt.year == 2023]

                     MTU  [EUR / MWh]
1080 2023-12-31 00:00:00        25.62
1081 2023-12-31 01:00:00         8.33
1082 2023-12-31 02:00:00         4.00
1083 2023-12-31 03:00:00         0.31
1084 2023-12-31 04:00:00        -0.06
...                  ...          ...
9812 2023-01-01 19:00:00        54.95
9813 2023-01-01 20:00:00        45.83
9814 2023-01-01 21:00:00        36.57
9815 2023-01-01 22:00:00        45.96
9816 2023-01-01 23:00:00        35.00

[8737 rows x 2 columns]