In [1]:
import random

In [2]:
import pandas as pd

In [74]:
df=pd.read_csv('renhaas_sales_data.csv')
df2=pd.read_csv('renhaas_customer_data.csv')

In [16]:
df['purchase_date'] = pd.to_datetime(df.purchase_date, format = '%Y-%m-%d')

In [75]:
value = []

for i in range(len(df)):
    if '$' in str(df.iloc[i,3]):
        stripped = str(df.iloc[i,3]).replace('$','')
        if int(stripped) < 0:
            stripped = str(-int(stripped))
        value.append('$' + stripped)
        
        
    else:
        r = random.randint(1,30)
        if r > 28:
            try:
                value.append(str(-int(df.iloc[i,3])))
            except:
                value.append(df.iloc[i,3])
        else:    
            value.append(str(df.iloc[i,3]))

In [76]:
df['value'] = value

In [77]:
package = []

for i in range(len(df)):
    p = df.iloc[i,1]
    r= random.randint(0,100)
    if r > 95:
        p = p.replace('a', '@')
    package.append(p)

In [78]:
df['package'] = package

In [89]:
pur = []

for i in range(len(df)):
    p = df.iloc[i,2].split('-')
    r = random.randint(0,100)
    if r > 95:
        m = int(p[1]) - 3
        pur.append(p[0] + '-0' + str(m) + '-' + p[2])
    else:
        pur.append(df.iloc[i,2])

In [91]:
df['purchase_date'] = pur

In [94]:
df = df.sort_values(by='purchase_date')

In [98]:
merge = pd.merge(df, df2)

In [101]:
merge = merge.drop_duplicates()

In [102]:
merge

,order_id,package,purchase_date,value,contact_name,contact_email,business_account,NPS
0,16966,enterprise,2023-02-10,360,Caitlin Bond,caitlin.bond@buchanan_jones.io,True,7
1,16901,enterprise,2023-02-28,312,Mark Lewis,mark.lewis@miles_howard.com,True,7
2,16925,enterprise,2023-02-8,nan,Krystal Collins,krystal.collins@morgangroup.org,True,6
3,16884,pro,2023-02-9,nan,Terry Kelly,terry.kelly@msg.com,False,10
4,16958,enterprise,2023-03-17,43200,Samuel Kennedy,samuel.kennedy@harmon_rocha.org,True,7
...,...,...,...,...,...,...,...,...
115,16927,enterpirse,2023-05-9,nan,Anna Sampson,anna.sampson@white_powell.com,True,10
116,16872,enterprise,2023-05-9,336,Rachael Barker,rachael.barker@davisortizandmartin.io,True,8
117,16866,pro,2023-05-9,228,Rachel Monroe,rachel.monroe@coldmail.com,False,7
118,16896,enterprise,2023-05-9,312,Gregory Jackson,gregory.jackson@pruittandsons.com,True,8
119,16965,enterprise,2023-05-9,$300,Devin Strong,devin.strong@craigtuckerandmoore.io,True,7

In [5]:
from faker import Faker

In [6]:
fake = Faker('en_US')

In [119]:
fake.phone_number()

'001-495-902-3832'

In [125]:
contact = []

for i in range(len(merge)):
    em = merge.iloc[i,5]
    ph = fake.msisdn()
    no = ph[0:3] +'-'+ph[3:6]+'-'+ph[6:9]+'-'+ph[9:]
    
    contact.append(em +', ' + no)

In [126]:
contact

['caitlin.bond@buchanan_jones.io, 471-549-930-1929',
 'mark.lewis@miles_howard.com, 207-801-929-0414',
 'krystal.collins@morgangroup.org, 553-112-122-9630',
 'terry.kelly@msg.com, 902-264-838-0657',
 'samuel.kennedy@harmon_rocha.org, 308-829-479-4123',
 'thomas.sullivan@jacksoninc.com, 450-733-786-2266',
 'nathan.mcdonald@arnoldinc.com, 211-303-997-3367',
 'glenn.gutierrez@msg.com, 290-881-749-2370',
 'justin.wade@baker_park.com, 467-615-615-8336',
 'matthew.walker@pitts_stark.org, 436-005-094-4717',
 'robin.henson@brownandsons.org, 181-804-732-5528',
 'john.pearson@coldmail.com, 175-594-314-8195',
 'ronald.curry@coldmail.com, 804-448-095-4045',
 'james.taylor@msg.com, 302-414-320-8369',
 'joshua.graham@gsnail.com, 823-204-351-3139',
 'joshua.graham@gsnail.com, 996-821-626-1200',
 'bryan.ramsey@sanchez_pope.com, 784-015-476-3225',
 'emily.sanders@skinnerrodriguezandnixon.io, 478-359-153-6589',
 'kenneth.elliott@coldmail.com, 172-142-351-5275',
 'david.moyer@andersongriffithandedwards.com, 475-102-251-8423',
 'john.davis@grantconradandmartinez.com, 887-306-694-9726',
 'mike.allen@msg.com, 265-453-806-8521',
 'kyle.hall@coldmail.com, 369-302-498-1086',
 'mark.wilkerson@casepetersenandmiller.io, 116-205-259-3037',
 'brandon.paul@perez_simpson.org, 029-043-569-5672',
 'paul.villarreal@gsnail.com, 700-971-084-4622',
 'debra.flores@gsnail.com, 018-528-144-7107',
 'margaret.bright@gsnail.com, 687-211-239-8136',
 'brendan.parker@msg.com, 799-719-617-4003',
 'leah.beasley@coldmail.com, 431-395-571-6075',
 'matthew.nunez@coldmail.com, 573-580-660-8003',
 'kenneth.rodriguez@gsnail.com, 820-373-536-3996',
 'ronnie.lee@mosleyflemingandjames.com, 865-407-369-0316',
 'brandi.church@santosgilbertandchase.org, 939-414-797-0542',
 'julie.willis@gsnail.com, 091-006-319-8391',
 'melissa.smith@msg.com, 671-861-073-7798',
 'gloria.smith@henry_meadows.io, 652-424-376-8336',
 'paula.wright@rubionewmanandpeterson.io, 312-314-164-5753',
 'dennis.graham@coldmail.com, 826-123-917-5617',
 'cameron.ellis@gsnail.com, 900-790-128-9502',
 'willie.tucker@coldmail.com, 457-439-628-9073',
 'nicole.maynard@watts_gordon.io, 270-439-518-5439',
 'russell.watkins@coldmail.com, 882-059-794-3471',
 'natalie.pratt@msg.com, 252-925-274-6610',
 'ricky.lopez@coldmail.com, 858-141-118-5778',
 'allison.west@gsnail.com, 342-711-253-7243',
 'patrick.moses@whitemossandchan.io, 676-493-061-3975',
 'christopher.stevens@myersvasquezandmorrison.io, 032-627-246-7077',
 'joseph.holder@msg.com, 288-052-605-7589',
 'brian.kane@gamble_wheeler.com, 808-973-481-6999',
 'stacie.richardson@andersontorresandhicks.io, 083-239-528-0536',
 'andrew.nelson@gsnail.com, 723-277-645-4673',
 'kristen.brown@marshallcruzandmoore.com, 452-294-711-7751',
 'jesse.gutierrez@baileysmithandrichardson.org, 170-316-263-9748',
 'ruben.knight@coldmail.com, 035-150-420-7632',
 'kelly.drake@james_bonilla.io, 144-106-427-6728',
 'austin.martin@cook_torres.com, 928-180-403-6533',
 'sheri.hill@spearshubbardandmiller.io, 436-658-700-9642',
 'sabrina.russell@gsnail.com, 756-127-807-6668',
 'joseph.hoover@coldmail.com, 340-994-537-7654',
 'douglas.oliver@holtlevyandjohnson.org, 016-803-354-9312',
 'alexis.johnson@hernandezowenandlawson.com, 641-944-058-5598',
 'robert.todd@msg.com, 439-202-896-8557',
 'ronnie.palmer@johnsonandsons.org, 164-769-033-7363',
 'marissa.johnson@richards_king.org, 645-188-627-5911',
 'sarah.russell@ruizllc.com, 337-358-403-8696',
 'ashley.jordan@burnsinc.io, 586-142-425-4596',
 'amber.richards@cunninghamhumphreyandthomas.io, 680-887-579-0581',
 'jared.carr@msg.com, 807-219-361-8256',
 'tina.jennings@msg.com, 100-725-633-7069',
 'kent.jones@thompsonwardandbutler.org, 591-961-969-1397',
 'ronald.jones@lara_huber.com, 413-334-850-8527',
 'phyllis.gardner@gsnail.com, 313-864-452-3536',
 'tammy.garcia@singletonandsons.io, 893-246-985-2107',
 'patricia.christensen@gsnail.com, 431-620-895-5688',
 'bonnie.le@evans_smith.com, 801-596-560-0075',
 'daniel.lynch@gsnail.com, 349-963-240-5661',
 'samuel.atkins@murphyburnettandjimenez.com, 998-975-298-0579',
 'john.bernard@molinallc.com, 866-398-189-7086',
 'madeline.howard@millergutierrezandward.org, 220-716-965-3096',
 'brenda.johnson@smith_perez.org, 608-221-512-8503',
 'ronald.vasquez@msg.com, 171-804-201-5636',
 'teresa.hebert@coldmail.com, 471-488-092-3061',
 'susan.reynolds@coldmail.com, 510-730-817-0278',
 'jonathan.vasquez@cooper_ruiz.org, 378-338-891-7288',
 'james.moreno@coldmail.com, 340-076-906-3450',
 'adam.washington@msg.com, 358-404-169-5747',
 'kenneth.ortiz@kerrmorrisandgomez.com, 780-429-728-8441',
 'kristin.freeman@gsnail.com, 078-054-834-9675',
 'darlene.fields@coldmail.com, 987-517-452-3517',
 'john.ballard@coldmail.com, 084-478-527-5093',
 'ronnie.horton@gsnail.com, 511-155-869-9235',
 'jordan.jones@gardnerscottandwhite.org, 894-153-309-3545',
 'allen.cantu@hicksinc.com, 974-575-217-1361',
 'danny.chase@lyonswilliamsandcohen.com, 390-889-944-3647',
 'cynthia.cruz@marquezandsons.com, 101-179-278-7645',
 'lori.chavez@franklininc.com, 579-405-868-2216',
 'samuel.burns@rodriguezhenryandmueller.com, 268-791-615-8103',
 'zoe.griffin@lunaandsons.io, 807-154-202-6273',
 'melissa.holmes@lunakingandchristian.io, 468-010-746-9092',
 'robert.johnson@kellyllc.org, 410-614-878-2828',
 'kimberly.jones@mortonwangandclark.com, 630-323-762-1437',
 'denise.hughes@gsnail.com, 384-539-043-3989',
 'joseph.spencer@coldmail.com, 208-469-971-3672',
 'steven.pierce@coldmail.com, 330-672-828-8186',
 'lynn.bridges@msg.com, 642-704-642-9252',
 'tammy.holmes@sims_baker.io, 681-710-214-4012',
 'alyssa.sullivan@gsnail.com, 978-764-180-1146',
 'ralph.small@miller_gomez.io, 688-442-229-2157',
 'peter.blair@hortongonzalesandadams.org, 325-610-283-3315',
 'jeffery.armstrong@barber_morrison.com, 936-159-045-7098',
 'anna.sampson@white_powell.com, 652-687-062-5562',
 'rachael.barker@davisortizandmartin.io, 818-163-423-9205',
 'rachel.monroe@coldmail.com, 714-931-622-0942',
 'gregory.jackson@pruittandsons.com, 222-327-592-3069',
 'devin.strong@craigtuckerandmoore.io, 932-953-556-8165']

In [225]:
name2 = []

for i in range(3):
    name.append(fake.first_name() + ' ' + fake.last_name())
    
    
'''team = []
for i in range(4):
    team.append(fake.color_name())'''

'team = []\nfor i in range(4):\n    team.append(fake.color_name())'

In [228]:
teams = {}

for n in name:
    t = random.choice(team)
    teams[n] = t

for n2 in name2:
    t = random.choice(team)
    teams[n2] = t

In [229]:
teams

{'Debbie Villanueva': 'MintCream',
 'Christopher Reid': 'MintCream',
 'Mark Maldonado': 'LightGreen',
 'April Thompson': 'SaddleBrown',
 'Brittany Parker': 'MintCream',
 'Allison Mcclure': 'LightGreen',
 'Sarah Rowe': 'MediumBlue',
 'David Franco': 'MintCream',
 'Kari Fowler': 'MintCream',
 'Sarah Camacho': 'SaddleBrown',
 'Zachary Heath': 'MediumBlue',
 'Jill Perez': 'LightGreen',
 'John Mccullough': 'MediumBlue',
 'Tiffany Price': 'MintCream',
 'Paul Hodge': 'MintCream'}

In [249]:

teamss= []

for i in range(len(merge)):

    sa = merge.iloc[i, 7]
    teamss.append(teams[sa])

In [250]:
merge['team'] = teamss

In [135]:
merge['contact'] = contact
merge['name'] = sale
merge['team'] = teamss

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3995548435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge['contact'] = contact
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3995548435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge['name'] = sale
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3995548435.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge['team'] = teamss

In [138]:
merge = merge.drop(['order_id', 'contact_email'], axis = 1)

In [141]:
for i in range(len(merge)):
    r = random.randint(0,100)
    if r > 92:
        merge = merge.append(merge.iloc[i])

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_18252\3084381641.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merge = merge.append(merge.iloc[i])

In [152]:
merge = merge.sort_values(by='purchase_date').reset_index(drop = True)

In [156]:
pur = []

for i in range(len(merge)):
    p = merge.iloc[i,1].split('-')
    
    m = int(p[1]) + 1
    pur.append(p[0] + '-0' + str(m) + '-' + p[2])
    
merge['purchase_date'] = pur

In [230]:
for i in name2:
    name.append(i)

In [231]:
name

['Debbie Villanueva',
 'Christopher Reid',
 'Mark Maldonado',
 'April Thompson',
 'Brittany Parker',
 'Allison Mcclure',
 'Sarah Rowe',
 'David Franco',
 'Kari Fowler',
 'Sarah Camacho',
 'Zachary Heath',
 'Jill Perez',
 'John Mccullough',
 'Tiffany Price',
 'Paul Hodge']

In [78]:
df.to_csv('renhaas_sales_Q1.csv', index = False)

In [251]:
merge

,package,purchase_date,value,contact_name,business_account,NPS,contact,name,team
0,enterprise,2023-03-10,360,Caitlin Bond,True,7,"caitlin.bond@buchanan_jones.io, 471-549-930-1929",Mark Maldonado,LightGreen
1,enterprise,2023-03-28,312,Mark Lewis,True,7,"mark.lewis@miles_howard.com, 207-801-929-0414",April Thompson,SaddleBrown
2,enterprise,2023-03-8,nan,Krystal Collins,True,6,"krystal.collins@morgangroup.org, 553-112-122-9630",Debbie Villanueva,MintCream
3,pro,2023-03-9,nan,Terry Kelly,False,10,"terry.kelly@msg.com, 902-264-838-0657",Sarah Rowe,MediumBlue
4,enterprise,2023-04-17,43200,Samuel Kennedy,True,7,"samuel.kennedy@harmon_rocha.org, 308-829-479-4123",Allison Mcclure,LightGreen
...,...,...,...,...,...,...,...,...,...
124,pro,2023-06-9,228,Rachel Monroe,False,7,"rachel.monroe@coldmail.com, 714-931-622-0942",Jill Perez,LightGreen
125,enterprise,2023-06-9,$300,Devin Strong,True,7,"devin.strong@craigtuckerandmoore.io, 932-953-5...",Sarah Camacho,SaddleBrown
126,enterprise,2023-06-9,348,Jeffery Armstrong,True,8,"jeffery.armstrong@barber_morrison.com, 936-159...",Brittany Parker,MintCream
127,enterpirse,2023-06-9,nan,Anna Sampson,True,10,"anna.sampson@white_powell.com, 652-687-062-5562",David Franco,MintCream
128,enterprise,2023-06-9,312,Gregory Jackson,True,8,"gregory.jackson@pruittandsons.com, 222-327-592...",David Franco,MintCream

In [7]:
nps_cats = {'d' : [1, 6], 'n' : [7, 8], 'p' : [9, 10]}

In [3]:
df = pd.read_csv('renhaas_sales_Q1.csv')

In [14]:
df[df.name == i].team.unique()[0]

'MediumBlue'

In [22]:
teams = {}

for i in df.name.unique():
    teams[i] = df[df.name == i].team.unique()[0]

In [23]:
teams

{'Mark Maldonado': 'LightGreen',
 'April Thompson': 'SaddleBrown',
 'Debbie Villanueva': 'MintCream',
 'Sarah Rowe': 'MediumBlue',
 'Allison Mcclure': 'LightGreen',
 'Jill Perez': 'LightGreen',
 'Brittany Parker': 'MintCream',
 'David Franco': 'MintCream',
 'Kari Fowler': 'MintCream',
 'Sarah Camacho': 'SaddleBrown',
 'Christopher Reid': 'MintCream',
 'Zachary Heath': 'MediumBlue'}

In [24]:
for n in range(random.randint(3,6)):
    name = fake.first_name() + ' ' + fake.last_name()
    t = random.choice(list(teams.values()))
    teams[name] = t

In [25]:
teams

{'Mark Maldonado': 'LightGreen',
 'April Thompson': 'SaddleBrown',
 'Debbie Villanueva': 'MintCream',
 'Sarah Rowe': 'MediumBlue',
 'Allison Mcclure': 'LightGreen',
 'Jill Perez': 'LightGreen',
 'Brittany Parker': 'MintCream',
 'David Franco': 'MintCream',
 'Kari Fowler': 'MintCream',
 'Sarah Camacho': 'SaddleBrown',
 'Christopher Reid': 'MintCream',
 'Zachary Heath': 'MediumBlue',
 'Nancy Huerta': 'LightGreen',
 'Amber Coffey': 'MediumBlue',
 'Thomas Nielsen': 'SaddleBrown'}

In [33]:
packs = []
purcs = []
vals = []
names = []
bizs = []
npss = []
con = []
nam = []
tea = []

for i in range(random.randint(100,120)):
    
    fn = fake.first_name()
    ln = fake.last_name()
    br = random.randint(1,6)
    
    if br > 4:
        biz = True
        pack = 'enterprise'
        comp = fake.company().replace(' ', '_').lower().replace('-','_').replace(',','').replace('and','').replace('__','_')
        em = fn.lower() + '.' + ln.lower() + '@' + comp + random.choice(['.com', '.io', '.org'])
    else:
        biz = False
        pack = random.choice(['basic', 'pro'])
        em = fn.lower() + '.' + ln.lower() + '@' +random.choice(['gsnail.com', 'coldmail.com', 'aobell.com'])
    year = 2023
    month = random.choices(population = ['06','07', '08', '09'], weights = [0.1, 0.3, 0.3, 0.3], k = 1)[0]
    day = random.randint(1, 30)
    purc = str(year) + '-' + month + '-' + str(day)
    sa = random.choice(list(teams.keys()))
    te = teams[sa]
    rt = random.randint(1, 100)
    if rt > 94:
        if te == 'MintCream':
            te = 'Mint Cream'
        elif te == 'LightGreen':
            te = 'Light Green'
        elif te == 'SaddleBrown':
            te = 'Saddle Brown'
        elif te == 'MediumBlue':
            te = 'Medium Blue'
        else:
            pass
    ph = fake.msisdn()
    no = ph[0:3] +'-'+ph[3:6]+'-'+ph[6:9]+'-'+ph[9:]
    
    if pack == 'basic':
        val = random.randint(130, 150)
        nps_cat = random.choices(population = list(nps_cats.keys()), weights = [0.2, 0.5, 0.3])[0]
    elif pack == 'pro':
        val = random.randint(220, 250)
        nps_cat = random.choices(population = list(nps_cats.keys()), weights = [0.4, 0.4, 0.2])[0]
    else:
        val = random.randint(300, 400)
        nps_cat = random.choices(population = list(nps_cats.keys()), weights = [0.1, 0.7, 0.2])[0]
    
    nps = random.randint(nps_cats[nps_cat][0], nps_cats[nps_cat][1])
    
    packs.append(pack)
    purcs.append(purc)
    vals.append(val)
    names.append(fn + ' ' + ln)
    bizs.append(biz)
    npss.append(nps)
    con.append(em +', ' + no)
    nam.append(sa)
    
    tea.append(te)

In [43]:
q2 = pd.DataFrame({'package' : packs, 'purchase_date' : purcs, 'value' : vals, 'contact_name' : names,
                   'business_account' : bizs, 'NPS' : npss, 'contact' : con, 'name' : nam, 'team' : tea})

In [44]:
q2

,package,purchase_date,value,contact_name,business_account,NPS,contact,name,team
0,pro,2023-07-10,245,Joshua Morales,False,7,"joshua.morales@gsnail.com, 968-218-082-1183",David Franco,MintCream
1,pro,2023-08-26,227,Christina Wright,False,2,"christina.wright@gsnail.com, 267-168-850-1718",Christopher Reid,MintCream
2,basic,2023-07-1,139,Brian Hernandez,False,8,"brian.hernandez@aobell.com, 969-443-507-4104",Thomas Nielsen,SaddleBrown
3,basic,2023-07-30,142,Cynthia Lang,False,8,"cynthia.lang@gsnail.com, 224-222-206-1466",Jill Perez,Light Green
4,pro,2023-06-13,240,Donald Phillips,False,6,"donald.phillips@coldmail.com, 466-167-354-6997",April Thompson,SaddleBrown
...,...,...,...,...,...,...,...,...,...
104,pro,2023-09-16,232,Michelle Herrera,False,4,"michelle.herrera@aobell.com, 481-548-520-8150",April Thompson,SaddleBrown
105,basic,2023-08-26,135,Vincent Simon,False,8,"vincent.simon@gsnail.com, 688-678-535-9285",Kari Fowler,MintCream
106,basic,2023-08-18,148,Megan Valdez,False,10,"megan.valdez@coldmail.com, 941-210-070-6650",Allison Mcclure,LightGreen
107,pro,2023-08-30,230,Robert Wheeler,False,9,"robert.wheeler@coldmail.com, 400-477-311-1760",Allison Mcclure,LightGreen
108,enterprise,2023-09-15,330,Sydney Bailey,True,9,"sydney.bailey@barron_holden.io, 343-519-453-6252",Mark Maldonado,LightGreen

In [45]:
import numpy as np

In [46]:
for i in range(len(q2)):
    r = random.randint(0,100)
    if r >97:
        q2.iloc[i,2] = np.nan
        q2.iloc[i,5] = np.nan

In [47]:
nps = []

for i in range(len(q2)):
    r = random.randint(1, 100)
    if r > 96:
        nps.append(random.randint(-3, 15))
    else:
        nps.append(q2.iloc[i,5])

In [48]:
q2['NPS'] = nps

In [49]:
q2

,package,purchase_date,value,contact_name,business_account,NPS,contact,name,team
0,pro,2023-07-10,245,Joshua Morales,False,7.0,"joshua.morales@gsnail.com, 968-218-082-1183",David Franco,MintCream
1,pro,2023-08-26,227,Christina Wright,False,2.0,"christina.wright@gsnail.com, 267-168-850-1718",Christopher Reid,MintCream
2,basic,2023-07-1,139,Brian Hernandez,False,9.0,"brian.hernandez@aobell.com, 969-443-507-4104",Thomas Nielsen,SaddleBrown
3,basic,2023-07-30,142,Cynthia Lang,False,8.0,"cynthia.lang@gsnail.com, 224-222-206-1466",Jill Perez,Light Green
4,pro,2023-06-13,240,Donald Phillips,False,6.0,"donald.phillips@coldmail.com, 466-167-354-6997",April Thompson,SaddleBrown
...,...,...,...,...,...,...,...,...,...
104,pro,2023-09-16,232,Michelle Herrera,False,4.0,"michelle.herrera@aobell.com, 481-548-520-8150",April Thompson,SaddleBrown
105,basic,2023-08-26,135,Vincent Simon,False,14.0,"vincent.simon@gsnail.com, 688-678-535-9285",Kari Fowler,MintCream
106,basic,2023-08-18,148,Megan Valdez,False,10.0,"megan.valdez@coldmail.com, 941-210-070-6650",Allison Mcclure,LightGreen
107,pro,2023-08-30,230,Robert Wheeler,False,9.0,"robert.wheeler@coldmail.com, 400-477-311-1760",Allison Mcclure,LightGreen
108,enterprise,2023-09-15,330,Sydney Bailey,True,9.0,"sydney.bailey@barron_holden.io, 343-519-453-6252",Mark Maldonado,LightGreen

In [50]:
vals = []

for i in range(len(q2)):
    r = random.randint(1, 100)
    if r > 88:
        val = '$'+str(q2.iloc[i,2])
    elif r < 5 and q2.iloc[i,0] == 'enterprise':
        val = random.randint(4000, 4400)
    else:
        val = q2.iloc[i,2]
    vals.append(val)
q2['value'] = vals

In [51]:
for i in range(len(q2)):
    r = random.randint(1, 100)
    if r > 93:
        q2 = q2.append(q2.iloc[i])

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_35248\2241956209.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q2 = q2.append(q2.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_35248\2241956209.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q2 = q2.append(q2.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_35248\2241956209.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q2 = q2.append(q2.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_35248\2241956209.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q2 = q2.append(q2.iloc[i])
C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_35248\2241956209.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  q2 = q2.append(q2.iloc[i])

In [52]:
q2

,package,purchase_date,value,contact_name,business_account,NPS,contact,name,team
0,pro,2023-07-10,245,Joshua Morales,False,7.0,"joshua.morales@gsnail.com, 968-218-082-1183",David Franco,MintCream
1,pro,2023-08-26,227,Christina Wright,False,2.0,"christina.wright@gsnail.com, 267-168-850-1718",Christopher Reid,MintCream
2,basic,2023-07-1,139,Brian Hernandez,False,9.0,"brian.hernandez@aobell.com, 969-443-507-4104",Thomas Nielsen,SaddleBrown
3,basic,2023-07-30,142,Cynthia Lang,False,8.0,"cynthia.lang@gsnail.com, 224-222-206-1466",Jill Perez,Light Green
4,pro,2023-06-13,240,Donald Phillips,False,6.0,"donald.phillips@coldmail.com, 466-167-354-6997",April Thompson,SaddleBrown
...,...,...,...,...,...,...,...,...,...
11,enterprise,2023-09-8,306,Laura Pierce,True,7.0,"laura.pierce@roberts_sons.com, 414-606-985-4615",Mark Maldonado,LightGreen
14,enterprise,2023-07-7,373,Erica Miller,True,8.0,"erica.miller@hoover_sons.com, 765-200-714-5615",April Thompson,SaddleBrown
28,enterprise,2023-09-2,357,Jennifer Richard,True,8.0,"jennifer.richard@perez_merritt_carter.io, 954-...",April Thompson,SaddleBrown
58,enterprise,2023-09-10,NaN,Angela Snow,True,NaN,"angela.snow@foster_smith_conley.io, 692-864-24...",Debbie Villanueva,MintCream
69,basic,2023-07-7,$$135,Lance Carlson,False,3.0,"lance.carlson@gsnail.com, 015-764-905-4012",Thomas Nielsen,SaddleBrown

In [53]:
q2.to_csv('renhaas_sales_Q2.csv', index = False)

In [76]:
for i in range(len(df)):
    try:
        g = int(df.iloc[i,2]) * 2
    except:
        if '$' not in str(df.iloc[i,2]):
        
            df.iloc[i,5] = np.nan

In [77]:
df

,package,purchase_date,value,contact_name,business_account,NPS,contact,name,team
0,enterprise,2023-03-10,360,Caitlin Bond,True,7.0,"caitlin.bond@buchanan_jones.io, 471-549-930-1929",Mark Maldonado,LightGreen
1,enterprise,2023-03-28,312,Mark Lewis,True,7.0,"mark.lewis@miles_howard.com, 207-801-929-0414",April Thompson,SaddleBrown
2,enterprise,2023-03-8,NaN,Krystal Collins,True,NaN,"krystal.collins@morgangroup.org, 553-112-122-9630",Debbie Villanueva,MintCream
3,pro,2023-03-9,NaN,Terry Kelly,False,NaN,"terry.kelly@msg.com, 902-264-838-0657",Sarah Rowe,MediumBlue
4,enterprise,2023-04-17,43200,Samuel Kennedy,True,7.0,"samuel.kennedy@harmon_rocha.org, 308-829-479-4123",Allison Mcclure,LightGreen
...,...,...,...,...,...,...,...,...,...
124,pro,2023-06-9,228,Rachel Monroe,False,7.0,"rachel.monroe@coldmail.com, 714-931-622-0942",Jill Perez,LightGreen
125,enterprise,2023-06-9,$300,Devin Strong,True,7.0,"devin.strong@craigtuckerandmoore.io, 932-953-5...",Sarah Camacho,SaddleBrown
126,enterprise,2023-06-9,348,Jeffery Armstrong,True,8.0,"jeffery.armstrong@barber_morrison.com, 936-159...",Brittany Parker,MintCream
127,enterpirse,2023-06-9,NaN,Anna Sampson,True,NaN,"anna.sampson@white_powell.com, 652-687-062-5562",David Franco,MintCream
128,enterprise,2023-06-9,312,Gregory Jackson,True,8.0,"gregory.jackson@pruittandsons.com, 222-327-592...",David Franco,MintCream